*{
    margin: 0;
}

body{
    --white: #FCF5FD;
    --black: #161616;
    --primary: #C417E8;
    --primary-s1: #A002C2;
    --secondary: #2574E8;
    --secondary-l1: #679CEA;
    --secondary-l2: #8EB8F7;
    --accent: #FF7013;
    --reject: #EC0000;
    --green: #00AA25;
    --font-h1: 'Montserrat', sans-serif;
    --font-h2-h3-body-smallText: 'Lato', sans-serif;
    --font-button: 'Open Sans', sans-serif;
    --size-smallText: 12px;
    --box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.25);

}

h1{
    font-family: var(--font-h1);
    font-size: 48px;
}

h2, h3, body, footer{
    font-family: var(--font-h2-h3-body-smallText);
}

button{
    font-family: var(--font-button);
    font-size: 14px;
    color: var(--white);
    letter-spacing: 2.1px;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    box-shadow: var(--box-shadow)
}

h2{
    font-size: 40px;
}

h3{
    font-size: 20px;
}

body{
    font-size: 16px;
}

/* p{
    margin-bottom: 0;
} */

input{
    border-radius: 8px;
    width: 364px;
    height: 39px;
    margin: 3px auto 15px auto;
    border: none;
    box-shadow: var(--box-shadow);
}

input:focus{
    box-shadow: inset 0 0 0 4px var(--secondary-l1);
    outline: none;
}

hr{
    border-top: none;
    border-left: none;
    border-right: none;
    height: 1px;
    width: 368px;
    /* background-color: var(--white); */
}

/* .small-text{
    font-size: 12px;
} */

/* NAV LANDING PAGE */
.nav-landing{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAV */
nav{
    background-color: var(--black);
    height: 80px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    justify-items: center;
    align-items: center;
}

.logo{
    height: 60px;
    width: auto;
}

.dropdown{
    display: inline-block;
    position: relative;
    width: 15%;
}

.dropdown-menu{
    /*all: unset; Elimina todas las propiedades preestablecidas del button */
    background-color: var(--black);
    width: 100%;
    border: 0; 
}

.dropdown-content{
    list-style: none;
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--black);
}

.dropdown-content-li{
    padding-left: 0;
}

.dropdown-content-li a{
    display: flex;
    justify-content:left;
}

.dropdown-content-p{
    color: var(--white);
    font-family: var(--h3);
}

.icono {
    width: 24px;
    height: 24px;
}

/* BODY LANDING PAGE */
.body-landing-page{
    background-image: url(images/fondo1.jpg);
    background-repeat: repeat;
}

/* INTERMEDIATE SCREEN */
.intermediateScreen{
    width: 100%;
    height: auto;
    background-color: rgba(22, 22, 22, 0.54);
    display: flex;
    justify-content: center;
}

/* FORMS */
.form-container{
    background-color: var(--primary-s1);
    color: var(--white);
    width: 486px;
    margin: 134px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form p{
    margin: 0 auto;
}

.form p a{
    color: var(--secondary-l2);
}

.form-inputs{
    display: flex;
    flex-direction: column;
}

.btn-submit, .form-inputs p a:hover{
    cursor: pointer;
}

.btn-submit{
    background-color: var(--secondary);
    width: 368px;
    height: 45px;
    margin-bottom: 14px;
}

.btn-submit:hover{
    background-color: var(--secondary-l1);
}

.form-input-error{
    font-family: var(--font-h2-h3-body-smallText);
    font-size: var(--size-smallText);
    color: var(--reject);
    background-color: var(--white);
    display: none;
}

.form-input-error-active{
    display: block;
}

.form-group-input{
    position: relative;
}

.form-validation-state{
    position: absolute;
    right: 10px;
    bottom: 25px;
    z-index: 100;
    font-size: 20px;
    opacity: 1;
}
 
.form-group-correct .form-validation-state{
    color: var(--green);
    opacity: 1;
}

.form-group-incorrect .form-validation-state{
    color: var(--reject);
    opacity: 1;
} 

.form-group-incorrect .form-input{
    box-shadow: inset 0 0 0 4px var(--reject);
    outline: none;
}

.success-msg{
    font-size: var(--size-smallText);
    color: var(--green);
    display: none;
}

.success-msg-active{
    display: block;
}

/* FORM LOG IN */
.form-container-login{
    height: 680px;
}

.form-login{
    height: 600px;
}

.form-networks{
    display: flex;
    flex-direction: column;
}

.form-networks a{
    margin-bottom: 10px;
}

.form-networks a img{
    width: 368px;
    height: 45px;
    border-radius: 8px;
}

/* FORM REGISTATION */
.form-container-signUp{
    height: 830px;
    display: none;
}

.form-signUp{
    height: 800px;
}

.img-captcha{
    width: 368px;
    height: 86.1px;
    border-radius: 8px;
    margin: 16px 0 30px 0;
}

/* INPUT -> REQUIRED
input:focus:required:invalid{
    border: 5px solid var(--reject);
} */

/* BODY HOME*/
.container{
    background-color: var(--primary);
    position: relative;
    height: 100%;
}

.swiper{
    width: 100%;
}

.swiper-slide{
    height: 430px;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.57);
    /* box-shadow: 0 0 20px rgb(0, 0, 0, 0.4); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-slide-prev{
    background-color: transparent;
    /* box-shadow: 0 0 0 rgba(255, 255, 255, 0); */
    height: 383px;
    margin-top: 25px;
    justify-content: end;
    align-items: end;
}

.swiper-slide-next{
    background-color: transparent;
    /* box-shadow: 0 0 0 rgba(255, 255, 255, 0); */
    height: 383px;
    margin-top: 25px;
    justify-content: start;
    align-items: start;
}

.swiper-slide-prev .icon svg, .swiper-slide-next .icon svg{
    display: none;
}

.swiper-slide .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-slide .icon svg{
    color: var(--secondary-l1);
    padding: 0 30px
}

.swiper-slide .icon svg:hover{
    color: var(--secondary-l2);
}


.swiper-slide.game-img, .game-img img{
    height: 380px;
    width: auto;
}


/* .body-container-recommended{
    height: 431px;
    width: 100%;
}

.carousel-inner{
    display: flex;
    justify-content: center;
    width: 1440px;
}

.img-recommended{
    height: 380px;
    width: auto;
} */





/* FOOTER */
.footer-content{
    background-color: var(--black);
    color: var(--white);
    height: 380px;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    align-items: center;
    padding: 15px;
}
.footer-content-info{
   display: grid;
   grid-template-columns: 48% 16% 16% 16%;
   column-gap: 14px;
}

.footer-content-info-columns{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer-content-info div a{
    color: var(--white);
}

.footer-copyright{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 15px;
    font-size: var(--size-smallText);
}